/*begin css for project 2*/
header {
   color: purple;
   background: lightblue;
}
/*myexperience*/
#myexperience h1{
   color: #00BFFF;
   font-weight: bold;
}
h2 {
   width: 600px;
   border: 10px;
   padding: 10px; 
   margin: 10px; 
}
h3 {
    width: 600px;
    border: 10px;
    padding: 10px;
    margin: 10px;
}
/*end my experience*/
/*begin css for airborne*/
#airborne h1{
   font-family: "Georgia", Georgia, serif;
   font-size: 100px;
   font-color: #8B0000; 
}
.myyears {
   font-style: italic;
   color: maroon;
}
/*end airborne*/
/*soldier*/
#soldier h2 {
   color: forest green; 
}
/*end airborne*/
/*begin Hobbie and Interest*/
#motorcycles.harleys{
   width: 650px;
}
}
/*begin nav*/
nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   overflow: hidden;   
}
nav ul li {
   float: left;
   margin: 0 15px
}
nav ul li a {
   display: block;
   background-color: black;
   color: green;
   font-weight: bold;
   text-decoration: none;
   text-align: center;
   width: 100px;
   padding: 10px 0px 8px 0px;
   border-radius: 4px;
}
nav ul li a:hover {
   background-color: blue;
}
/*end nav*/


